* {
  box-sizing: border-box;
}

body {
  background: #efefef;
}
header .wrapper {
  border-bottom: none;
  text-align: center;
}


#le-app {
  max-width: 720px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 15px;

  position: relative;
}

@import "../components/**/*.less";