// .le-restaurant-search {
//   label,
//   input,
//   select {
//     display: block;
//     width: 100%;
//   }

//   .try-new {
//     display: inline-block;
//     width: 100%;

//     input {
//       display: inline-block;
//       width: auto;
//     }
//   }
// }

.le-restaurant-search {
  p {
    .base-font(@size: 16px, @weight: 300);
    color: @dark-grey;
  }
  ol {
    list-style: none;
    counter-reset: li;
    border-bottom: 1px solid lighten(@grey, 30%);
    border-radius: 4px;
    margin-bottom: 30px;
    li {
      padding: 10px;
      counter-increment: li; 
      margin-bottom: 8px;
      &::before {
        content: counter(li);
        color: @dark-grey;
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        vertical-align: middle;
        margin-left: -25px;
        margin-right: 5px;
        background: lighten(@grey, 30%);
        border-radius: 50%;
      }
    }
  }
  .input-label {
    display: none;
  }
  input#input-location {
    .le-input-text;
    color: @dark-grey;
    border-bottom: 1px solid @dark-grey;

    &::placeholder {
      color: @dark-grey;
    }
  }
  .try-new {
    padding-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    .base-font(@size: 16px, @weight: 200);
    color: @dark-grey;
  }
  select#select-radius {
    .base-font(@size: 16px, @weight: 200);
    color: @grey;
    border: 1px solid @white;
    padding: 4px;
    border-radius: 2px;
    appearance: none;
    cursor: pointer;
  }

  .btn-submit {
    background: @accent-dark;
    color: @white;
    .base-font(@size: 18px, @weight: 300);
  }
}

