.le-restaurant-search {
  label,
  input,
  select {
    display: block;
    width: 100%;
  }

  .try-new {
    display: inline-block;
    width: 100%;

    input {
      display: inline-block;
      width: auto;
    }
  }
}